# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/
.env

# IDE
.vscode/

# OS
.DS_Store

# Logs
*.log

# Celery
celerybeat-schedule

# Vector DB / generated data
chroma/
faiss_index/

# Temporary files
tmp/
downloads/

research_db/
.dist/
*.sqlite3
*.db